
.App-header {
  text-align: center;
  background-color: #FFFF;
  display: block;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #0844a3;
}

.menuNav {
  display: flex;
  justify-content: center;
  color: #0e5ddb;
}

.menuNav ul{
  margin: 0 12% 0 12%;
}

.menuNav a{
  text-decoration: none;
  font-size: calc(10px + 2vmin);
  font-weight: bold;
}

.menuNav a:visited{
  color: #0e5ddb;
}

.menuNav a:hover{
  color: #125f99;
}
