
.App-header {
  text-align: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #0844a3;
  margin-top: 0;
}

.menuNav {
  display: flex;
  color: #0e5ddb;
  width: 100%;
}

.menuNav ul{
  margin: 0 14% 0 14%;
  padding: 0;
}

.menuNav a{
  text-decoration: none;
  font-size: calc(5px + 2vmin);
  font-weight: bold;
  text-align: center;
}

.menuNav a:visited{
  color: #0e5ddb;
}

.menuNav a:hover{
  color: #125f99;
}

.match-live {
  align-items: center;
  width: 80%;
  padding: 0 10% 0 10%;
  margin-top: 4%;
  margin-bottom: 2%;
}
